html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ................................................ */

.outer-body {
  width: 50%;
  background-color: cornsilk;
  padding: 2rem;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
}
.inner-body {
  margin: 0 auto;
  border: 2px solid black;
  padding: 2rem;
}
.checkbox input {
  width: 100%;
  padding: 8px;
  border: none;
  outline: 2px solid lightblue;
  margin-bottom: 20px;
}
.dotted-line {
  margin-bottom: 15px;
  border-top: 2px dotted red;
  width: 100%;
}
.todo {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.todo button {
  background-color: transparent;
  color: blue;
  padding: 5px 10px;
  border: 2px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}
.todo button:active {
  background-color: lightslategray;
  color: white;
}
.todo input {
  width: 20px;
  height: 20px;
}
.todo label {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
