/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* .................................................. */

.body {
  width: 50%;
  margin: 0 auto;
  background-color: burlywood;
  padding: 2rem;
}
.header {
  background-color: black;
  padding: 1rem;
  margin-bottom: 1rem;
}

header h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.drop-down {
  text-align: center;
}
.news-id option {
  padding: 1rem;
}
select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.old {
  width: 100%;
  /* border: 2px solid black; */
  overflow: auto;
  margin-top: 20px;
}
.News {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imageDiv {
  width: 35%;
  margin-right: 20px;
  /* border: 2px solid black; */
}

.h2 {
  padding: 2px;
  background-color: rgb(54, 126, 127);
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  color: white;
}
.article-body {
  width: 95%;
}
.article-body p {
  font-weight: bold;
  color: black;
  /* border: 2px solid green; */
}

.btn {
  margin-top: 20px;
  background-color: black;
  padding: 5px 10px 5px 10px;
  color: white;
  text-decoration: none;
}
